* {
    margin: 0;
    padding: 0;
}

.menu__container {
    background-color: #2d373a;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 80px;
    justify-content: space-between;
}

.menu__item {
    align-self: center;
    color: white;
    font-size: 22px;
    border: 1px solid red;
}

.menu__icons {
    display: flex;
    list-style: none;
}

.icon__zap {
    padding: 0px 27px;
}

.navs__list {
    text-decoration: none;
}

.icons__link a {
    color: white;
    padding: 0px 20px;
    font-size: 22px;
    text-decoration: none;
}

@media (max-width: 520px) {
    .icon__zap {
        display: none;
    }

    .menu__icons {
        display: none;
        border: none;
    }
}