* {
    margin: 0;
    padding: 0;
}

.menu__container {
    background-color: rgb(45, 55, 58);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    display: flex;
    height: 80px;
    justify-content: space-between;
    color: white;
}

.menu__item {
    align-self: center;
    color: white;
}

.menu__icons {
    display: flex;
    list-style: none;
}

.icons__link a {
    color: white;
    padding: 0px 20px;
    font-size: 22px;
    text-decoration: none;
}