* {
    margin: 0;
    padding: 0;
}

.menu__container {
  background-color: rgb(63, 58, 58);
    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 80px;
    justify-content: space-between;
}

.menu__item {
    align-self: center;
    color: white;
    font-size: 22px;
}

.menu__icons {
    display: flex;
    align-items: center;
    padding-top: 5px;
    margin-left: 2rem;
    list-style: none;
    background-color: #ffffff25;
}

.icon__zap {
    padding: 0px 27px;
}

.navs__list {
    text-decoration: none;
}

.icons__link a {
    color: white;
    padding: 0px 20px;
    font-size: 22px;
    text-decoration: none;
}

.icons__link a:hover {
    color: #2b3f55;
    transition: all 0.3s;
}

@media (max-width: 520px) {
    .icon__zap {
        display: none;
    }

    .menu__icons {
        display: none;
        border: none;
    }
}